Tests: build
Depends: build-essential, clang:native, libsdl2-dev
Restrictions: allow-stderr, superficial

Tests: deprecated-use
Depends: build-essential, clang:native, libsdl2-dev, libsdl2-ttf-dev
Restrictions: allow-stderr, superficial

Tests: cmake
Depends: build-essential, cmake, libsdl2-dev
Restrictions: allow-stderr, superficial

Tests: installed-tests
Depends: gnome-desktop-testing, libsdl2-tests
Restrictions: allow-stderr
