Source: tiff
Section: libs
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
XSBC-Original-Maintainer: Laszlo Boszormenyi (GCS) <gcs@debian.org>
Build-Depends: debhelper-compat (= 13),
               cargo,
               cmake,
               g++,
               libjbig-dev,
               libjpeg-dev,
               liblzma-dev,
               libzstd-dev,
               libwebp-dev,
               libdeflate-dev,
               liblerc-dev [!s390x !hppa !powerpc !ppc64 !sparc64 !i386],
               ninja-build,
               pkg-config,
               rustc,
               zlib1g-dev
Standards-Version: 4.6.2
Homepage: https://libtiff.gitlab.io/libtiff/
Rules-Requires-Root: no

Package: libtiff6
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends},
         ${shlibs:Depends}
Breaks: libimager-perl (<< 1.022+dfsg)
Description: Tag Image File Format (TIFF) library
 libtiff is a library providing support for the Tag Image File Format
 (TIFF), a widely used format for storing image data.  This package
 includes the shared library.

Package: libtiffxx6
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Tag Image File Format (TIFF) library -- C++ interface
 libtiff is a library providing support for the Tag Image File Format
 (TIFF), a widely used format for storing image data.  This package
 includes the shared library for the experimental C++ interfaces.

Package: libtiff-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: libc6-dev | libc-dev,
         libjbig-dev,
         libjpeg-dev,
         liblzma-dev,
         libzstd-dev,
         libwebp-dev,
         libtiff6 (= ${binary:Version}),
         libtiffxx6 (= ${binary:Version}),
         zlib1g-dev,
         libdeflate-dev,
         liblerc-dev [!s390x !hppa !powerpc !ppc64 !sparc64 !i386],
         ${misc:Depends}
Replaces: libtiff4-dev (<< 4.0.3-6~),
          libtiff5-alt-dev (<< 4.0.3-6~),
          libtiff5-dev (<< 4.0.10-1~)
Breaks: libtiff4-dev (<< 4.0.3-6~),
        libtiff5-alt-dev (<< 4.0.3-6~),
        libtiff5-dev (<< 4.0.10-1~)
Description: Tag Image File Format library (TIFF), development files
 libtiff is a library providing support for the Tag Image File Format
 (TIFF), a widely used format for storing image data.  This package
 includes the development files, shared-library symlinks, and headers.

Package: libtiff-tools
Section: graphics
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: TIFF manipulation and conversion tools
 libtiff is a library providing support for the Tag Image File Format
 (TIFF), a widely used format for storing image data.  This package
 includes tools for converting TIFF images to and from other formats
 and tools for doing simple manipulations of TIFF images.
