Source: libuv1
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
XSBC-Original-Maintainer: Dominique Dumont <dod@debian.org>
Uploaders: Luca Bruno <lucab@debian.org>
Section: libs
Priority: optional
Build-Depends: cargo,
               dpkg-dev (>= 1.22.5),
               debhelper-compat (= 13),
               pkg-config,
               python3,
               rustc
Standards-Version: 4.6.2
Vcs-Browser: https://salsa.debian.org/debian/libuv1
Vcs-Git: https://salsa.debian.org/debian/libuv1.git
Homepage: https://github.com/libuv/libuv
Rules-Requires-Root: no

Package: libuv1-dev
Architecture: amd64
Multi-Arch: same
Section: libdevel
Depends: ${misc:Depends},
         libuv1t64 (= ${binary:Version})
Conflicts: libuv-dev
Replaces: libuv-dev
Description: asynchronous event notification library - development files
 Libuv is the asynchronous library behind Node.js. Very similar to libevent or
 libev, it provides the main elements for event driven systems: watching and
 waiting for availability in a set of sockets, and some other events like timers
 or asynchronous messages. However, libuv also comes with some other extras
 like:
  * files watchers and asynchronous operations
  * a portable TCP and UDP API, as well as asynchronous DNS resolution
  * processes and threads management, and a portable inter-process
    communications mechanism, with pipes and work queues
  * a plugins mechanism for loading libraries dynamically
  * interface with external libraries that also need to access the I/O.
 .
 Install this package if you wish to develop your own programs using the
 libuv engine.

Package: libuv1t64
Provides: ${t64:Provides}
Replaces: libuv1
Breaks: libuv1 (<< ${source:Version})
Architecture: amd64
Multi-Arch: same
Depends: ${misc:Depends},
         ${shlibs:Depends}
Pre-Depends: ${misc:Pre-Depends}
Description: asynchronous event notification library - runtime library
 Libuv is the asynchronous library behind Node.js. Very similar to libevent or
 libev, it provides the main elements for event driven systems: watching and
 waiting for availability in a set of sockets, and some other events like timers
 or asynchronous messages. However, libuv also comes with some other extras
 like:
  * files watchers and asynchronous operations
  * a portable TCP and UDP API, as well as asynchronous DNS resolution
  * processes and threads management, and a portable inter-process
    communications mechanism, with pipes and work queues
  * a plugins mechanism for loading libraries dynamically
  * interface with external libraries that also need to access the I/O.
 .
 This package includes the dynamic library against which you can link
 your program.
