Test-Command: test "$(printf %s KLUv/QRYqQAAc2FmZWxpYnMgYXV0b3BrZ3Rlc3QKnEhfMw== | base64 -d | zstd -q -d -c)" = "safelibs autopkgtest"
Features: test-name=zstd-selftest

Test-Command: env PYTHONPATH="$(pwd)/debian/tests/python" python3 -B -u -m check_build -c debian/tests/ztest/programs.toml -v -- pkg-make
Depends:
 @,
 build-essential,
 pkgconf,
 python3,
 python3-click,
 python3-typedload,
Restrictions: allow-stderr
Features: test-name=build-pkg-config

Test-Command: env PYTHONPATH="$(pwd)/debian/tests/python" python3 -B -u -m check_build -c debian/tests/ztest/programs.toml -v -- cmake
Depends:
 @,
 build-essential,
 cmake,
 python3,
 python3-click,
 python3-typedload,
Restrictions: allow-stderr
Features: test-name=build-cmake
